/*
Theme Name: Alpheratz Theme
Theme URI: https://gitlab.com/zagur/AlpheratzTheme
Author: Jesús Camacho
Author URI: http://www.portallinux.es
Description: Tema principal para la web sobre Software Libre y GNU/Linux PortalLinux.es
Version: 0.8.6
License: GNU Public Licence version 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Wordpress, Free Software, GNU/Linux, software libre.
Text Domain: portallinux
GitLab Theme URI: https://gitlab.com/zagur/AlpheratzTheme
GitLab Branch: master
Template version: 0.8.6
*/

/*
+ ADD FONTS
+ GLOBAL
+ CONTENT
+ CATEGORY
+ NAVBAR
+ SINGLE
+ SEARCH PAGE
+ NAVIGATION PAGE
+ NAVIGATION POST
+ SHARE CONTENT
+ RELATED POSTS
+ AUTHOR
+ COMMENTS
+ SIDEBAR RIGHT
+ SIDEBAR FOOTER
+ FOOTER
+ 404 ERROR
+ COOKIES
+ OTHERS
+ RESPONSIVE
+ PRINT STYLE
*/

/* ADD FONTS */
#wpadminbar{display: none;}
@font-face {
    font-family: 'Capsuula';
    src: url('fonts/Capsuula.ttf');
    src: url('fonts/Capsuula.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

@font-face {
    font-family: 'cc-icons';
    src: url('fonts/cc/cc-icons.eot');
    src: local('cc-icons'),
    url('fonts/cc/cc-icons.svg') format('svg'),
    url('fonts/cc/cc-icons.otf') format('opentype'),
    url('fonts/cc/cc-icons.woff') format('woff'),
    url('fonts/cc/cc-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL */
body {
    color: #6B6B6B;
    background-color: #F1F1F1;
    word-wrap: break-word;
    font-family: "Signika", "Open Sans", sans-serif!important;
    line-height: 1.7;
    font-size: 14px;
}

a {
  color: #222;
  text-decoration: none;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

a:hover,
a:focus {
    color: #1976D2;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    text-decoration: none;
}

p {
    text-align: justify;
    color: #000;
    line-height: 1.8em;
    font-size: 16px;
}

span.debajo {
    background: #ff7700 none repeat scroll 0 0;
    bottom: -8px;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    width: 40px;
}
.entry-content p {
	font-family: "Signika", "Open Sans", sans-serif;
}
.entry-content ul li {
	list-style: outside none square;
    color: #000;
}

.entry-content ol li {
    color: #000;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #1976D2;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}
blockquote {
	border-left: 2px solid #1976d2;
	text-align: justify;
}
h1,
.h1 {
    font-size: 32px;
}

h2,
.h2 {
    font-size: 24px;
}

h3,
.h3 {
    font-size: 20px;
}

h4,
.h4 {
    font-size: 16px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 13px;
}
.img img {
    height: 150px;
}
img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

div.img404 img { width: 75%;}
div.img404 {text-align: center;}



input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing:  content-box;
  box-sizing:     content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top; /* Improves readability and alignment in all browsers */
  width: 100%;
}

span {
    color: #222;
}

.tooltip {
    width: 200px;
}


/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/* Clearing floats */
.clear:before,
.clear:after,
.gallery:before,
.gallery:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.home-widget-area:before {
  content: '';
  display: table;
}

.clear:after,
.entry-content:after,
.gallery:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.home-widget-area:before {
  clear: both;
}


/* CONTENT */
#primary {
    padding: 0;
}

#content-full {
    margin-top: 32px;
}

.thumb-img {
    background-position: center center;
    background-size: cover;
    height: 175px;
    width: 100%;
}

.thumb-single {
    min-height: 450px;
}

article img.img-responsive {
    width: 100%;
    max-height: 450px;
}

.home .entry-title,
.category .entry-title,
.search .entry-title,
.author .entry-title {
    background-color: rgba(32, 32, 32, 1);
}

.entry-title {
    color: #fff;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    min-height: 64px;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    margin-top: 0;
    line-height: 21px;
}

.page-header {
    border-bottom: 0 none;
    margin-top: 0;
    padding-bottom: 0;
}
.entry-header, .page-header {
    margin: 0;
}

.edit-post {
    background-color: #151515;
    bottom: 265px;
    color: #fff !important;
    left: 288px;
    padding: 6px 12px;
    position: absolute;
    transition: 1s background;
}

.edit-post:hover {
    background-color: #222;
    transition: 1s background;
}

.category .edit-post,
.search .edit-post {
    bottom: 240px;
}

.edit-post span,
.edit-link a {
    color: #FFF;
}

.home .post-inner-content,
.search .post-inner-content {
    padding: 4px 0px;
}

.post-inner-content {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 4px 25px;
}

.entry-meta {
    color: #222;
}

h1.page-title span {
    color: #FFF;
}

/* CATEGORY */

.resume {
    background-color: #fff;
    border-bottom: 2px solid #151515;
    max-height: 208px;
    min-height: 200px;
    padding: 10px 20px;
}

.page-title {
    background-color: #222;
    font-family: "Oswald";
    letter-spacing: 4px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
}

.archive .post-inner-content {
    padding: 4px 10px!important;
}

/* NAVBAR */
.navbar-header h1 {
    margin: 0;
}

.navbar-inverse {
    background-color: #151515;
    border: none;
}

.navbar-nav li {
    background-color: transparent;
    font-family: "Oswald";
    font-size: 15px;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #1976D2;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: transparent;
}

.navbar-collapse {
    box-shadow: none;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: #1976D2;
    color: #F1F1F1;
}

.navbar span:first-child {
    color: #F1F1F1;
}

.navbar-brand {
    font-family: "Oswald";
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
}

.first {
    color: #F1F1F1;
}

.second {
    color: #1976D2;
}

.navbar-brand:hover span:first-child {
	color: #1976D2;
	transition: .5s all;
}

.navbar-brand span {
	transition: .5s all;
}

.dropdown-menu {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.navbar-right {
    margin-right: 0px;
}

.sub-menu-columns ul.dropdown-menu {
	float: left;
	min-width: 300px;
}

.sub-menu-columns ul.dropdown-menu li {
	width: 50%;
	float: left;
    position: relative;
}

.dropdown-menu > li > a {
    padding: 6px 20px;
}

button.buscador {
    height: 34px;
    margin-bottom: 8px;
    margin-top: 6px;
    padding: 0 12px;
}

.navbar-toggle {
    border: none;
}

/* SINGLE */
.post-title {
    background-color: #222;
    color: #fff;
    font-family: "Capsuula";
    margin-bottom: 0;
    margin-top: 0;
    padding: 15px 25px;
    font-size: 38px;
}

.post-inner-info {
    background-color: #1976d2;
    padding: 5px 25px;
}

.post-inner-info a,
.post-inner-info span,
.post-inner-info li {
    color: #FFF;
    text-transform: uppercase;
}

.info {
    padding: 0;
    margin: 0;
}

.info li {
    list-style: outside none none;
    display: inline;
    margin-right: 18px;
}

.entry-content {
    margin-bottom: 25px;
}

.entry-content h1 {
    font-size: 38px;
}

.entry-content h2 {
    font-size: 36px;
}

.entry-content h3 {
    font-size: 34px;
}

.entry-content h4 {
    font-size: 32px;
}

.entry-content h5 {
    font-size: 30px;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    font-family: Capsuula;
    position: relative;
}

.entry-content h2:after {
    content: ""; position: absolute; bottom: -10px; left: -3px;
}

.entry-content h2:after {
    right: -3px; height: 4px;
    background: #1976D2; /* Old browsers */
    background: -moz-linear-gradient(left,  #1976D2 8%, #ffffff 8%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop 8%,#1976D2), color-stop 8%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #1976D2 8%,#ffffff 8%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #1976D2 8%,#ffffff 8%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #1976D2 8%,#ffffff 8%); /* IE10+ */
    background: linear-gradient(to right,  #1976D2 8%,#ffffff 8%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.entry-content a {
    color: #1976d2;
}

.content-article {
    background-color: #fff;
    margin-bottom: 0!important;
    padding: 25px 25px;
}

.post-inner-license {
    background-color: #c0392b;
    color: #fff;
    margin: 0 auto;
    padding: 10px;
}

.post-inner-license::before {
    background-color: #151515;
    content: "Licencia";
    font-size: 12px;
    margin-right: 0px;
    margin-top: -10px;
    padding: 2px 8px;
    position: absolute;
    right: 0;
    font-weight: bold;
}

.post-inner-license p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 15px;
}

.post-inner-license p span {
    color: #fff;
    font-size: 35px;
    margin-left: 4px;
    margin-top: 10px;
}

.tagcloud {
    margin-top: 10px;
}

.tagcloud span {
    margin-right: 10px;
}

.tagcloud > a {
    background-color: #222;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
}

.tagcloud > a:hover {
    background-color: #1976d2;
}

.alert,
.alert p {
    border-radius: 0px;
    border: none;
    color: #FFF;
}

.alert-success {
    background-color: #2ecc71;
}

.alert-info {
    background-color: #3498db;
}

.alert-warning {
    background-color: #e67e22;
}

.alert-danger {
    background-color: #e74c3c;
}

.alert-black {
    background-color: #151515;
}

.icons {
    padding: 8px;
}

.icon-social {
    color: #fff;
    padding: 8px;
}

.icon-social:hover {
    color: #FFF;
}

/* SEARCH PEGA */
.search .page-title,
.archive .page-title {
    margin-bottom: 20px;
}

/* NAVIGATION PAGE */

.navigation {
    text-align: center;
    display: none;
}

/* NAVIGATION POST */

.single .post-inner-content {
    margin-bottom: 0;
}

.navnap li a span:hover {
	color: #222;
}

/* SHARE CONTENT */
ul.share-buttons{
    list-style: none;
    padding: 0;
    text-align: center;
}

ul.share-buttons li{
    display: inline;
}

ul.share-buttons img{
    width: 32px;
}

.social {
    padding: 0 5px;
}

.social div {
    padding: 0;
}

.social .logo,
.social .name {
    padding: 5px;
}

.logo,
.name span {
    color: #fff;
    font-weight: bold;
}

.social-fb .logo {
    background-color: #36569c;
}

.social-fb .name {
    background-color: #304d8d;
}

.social-tw .logo {
    background-color: #00AAF3;
}

.social-tw .name {
    background-color: #0099DA;
}

.social-gp .logo {
    background-color: #E24A2B;
}

.social-gp .name {
    background-color: #CC4326;
}

.social-ot .logo {
    background-color: #D01B15;
}

.social-ot .name {
    background-color: #BC1914;
}

.social-em .logo {
    background-color: #EE4B16;
}

.social-em .name {
    background-color: #D64414;
}

.share-post .dropdown-menu a:hover {
    background-color: none;
}

/* RELATED POSTS */
.related-posts {
    margin-bottom: 0;
    margin-top: 30px;
}

.related-posts .square {
    height: 230px;
}

.thumb-related {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 210px;
}

.thumb-image {
    width: 100%;
    height: 230px;
    background-position: center -20px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.25s ease 0s;
}

.thumb-image:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.25s ease 0s;
}

.related-posts h3 {
    background-color: #151515;
    color: #fff;
    font-size: 12px;
    min-height: 60px;
    position: relative;
    text-align: center;
    top: -80px;
    width: 100%;
    padding: 10px;
}

/* AUTHOR */
h4.author-name {
    font-family: "Signika";
    font-family: 18px;
    margin-bottom: 0;
}

h4.author-name a,
p.author-description {
    color: #FFF;
    text-align: left;
}

h4.author-name a:hover {
    color: #1976D2;
}

.secondary-content-box {
    background-color: #222 !important;
    padding: 0;
    border-top: 5px solid #151515;
}

.post-inner-content .row {
    margin: 0;
}

.author-bio {
    padding: 12px 25px 20px 0;
}

.list-social ul {
    text-align: center;
    margin: 3px;
    float: right;
}

.list-social ul li {
    display: inline;
    list-style: outside none none;
    padding: 0 4px;
}

ul.navnap {
    list-style: outside none none;
    margin: 6px;
}

ul.navnap li {
    padding: 5px;
    text-align: center;
    width: 40px;
}

ul.navnap li a span {
    color: #FFF;
}

.avatar-img {
    margin-top: 25px;
    text-align: center;
}

.comment-author .fn, .author-bio h4, .comment-reply-title {
    font-weight: 700;
    text-transform: uppercase;
}
.author-bio-content h4 {
    font-size: 14px;
    margin-top: 0;
}

.author-social {
    background-color: #1976d2;
}

.author .post {
    margin-bottom: 30px;
}

.author .post-inner-content {
    margin-bottom: 0;
}

.author .author-description {
    padding: 25px;
    color: #151515;
}

.author .list-social {
    background-color: #1976d2;
    height: 40px;
    width: 100%;
}

.author-social .list-social li a:hover {
    color: #222;
}

.author-post-title {
    text-transform: capitalize;
}

.author .icons {
    margin-top: 0;
}

.author-box {
    background-color: #1976D2;
    min-height: 125px;
    padding: 25px;
    transition: all 1s;
}

.author-box:hover {
    background-color: #222;
    transition: all .5s;
}

.author-box h4 a {
    color: #FFF;
}

.post-by-author {
    margin-bottom: 25px;
}

.post-by-author h2 {
    text-transform: uppercase;
}

/* COMMENTS */
.comments-title {
    background-color: #222;
    border-bottom: 10px solid #1976d2;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.comments-title span {
    color: #FFF;
}


.bypostauthor .comment-body::after {
    background: #151515;
    color: #fff;
    content: "Autor";
    font-size: 12px;
    padding: 1px 10px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
}

.edit-comment {
    background-color: #151515;
    padding: 1px 10px;
    position: absolute;
    right: 23px;
    top: -25px;
    transition: 1s all;
}

.edit-comment:hover {
    background-color: #1976d2;
    transition: 1s all;
}

.edit-comment span,
.edit-comment a {
    color: #FFF;
}

.pingback {
    background-color: #222;
    color: #fff;
    padding: 10px;
}

#pings {
    margin: 10px;
    text-transform: uppercase;
    border-bottom: 5px solid #1976d2;
    font-family: "Oswald";
}

.pinglist li a {
    color: #FFF;
}

.pinglist li a:hover {
    color: #1976d2;
}

.comment-list, .children {
    list-style: none;

}

.comment-list {
    padding-left: 0;
}

.comment-author.vcard {
    font-size: 12px;
}

.comment-text h4 {
    text-transform: uppercase;
}

.comment-body {
    border-left: 4px solid #1976d2;
    margin: 2em 0 0;
    overflow: hidden;
    padding: 25px 25px 25px 25px;
    position: relative;
    background-color: #fff;

}

.comment-reply-link {
    background-color: #1976d2;
    color: #fff;
    float: right;
    padding: 10px 15px;
    font-weight: bold;
}

.commetsClosed {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #1976d2;
    color: #FFF;
    padding: 15px;
}

.commetsClosed span {
    color: #FFF;
}

.vcard .avatar {
    border-radius: 2px;
    left: 20px;
    top: 20px;
}

time a {
    color: #bdc3c7;
}

.comment-reply-title {
    border-bottom: 5px solid;
    font-family: "Oswald";
}

.input-form-comment {
	background: #111;
	border: 2px solid #333;
	border-radius: 0;
	color: #fff;
	letter-spacing: 0.1em;
	padding: 15px;
	transition: all 0.2s ease-out 0s;
    width: 100%;
}

.textarea-comment {
    background: #151515;
    border: 2px solid #333;
    border-radius: 0;
    color: #fff;
    letter-spacing: 0.1em;
    padding: 15px;
    transition: all 0.2s ease-out 0s;
	border-top: none;
}

.nav-previous, .nav-next {
	padding: 15px;
	width: 50%;
	float: left;
    min-height: 78px;
}

.nav-previous a, .nav-next a {
	padding: 15px 0px;
	min-height: 100px;
}

.nav-previous:hover,
.nav-next:hover {
	background-color: #1A1A1A;
    color: #FFF!important;
}

/*.nav-links {
	border-top: 4px solid #222;
}*/

#submit {
	width: 100%;
	text-align: right;
	font-weight: 700;
	letter-spacing: 0.3em;
	outline: medium none;
    -moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-border-color: #222;
	-webkit-border-color: #222;
	border-color: #222 #222;
	border-image: none;
	border-style: none solid solid;
	border-width: medium 2px 2px;
}

#submit,
.nav-previous, .nav-next {
	background: #151515;
	color: #fff;
	padding: 15px;
	text-transform: uppercase;
	transform: translateY(-5px);
	transition: all 0.2s ease-out 0s;
	border-radius: 0;
}

#submit:hover {
    background: #1a1a1a;
}

.comment-reply-link:hover {
    color: #FFF;
}

/* SIDEBAR RIGHT */
#secondary .widget > h3 {
    background-color: #222;
    color: #1976d2;
    font-family: "Oswald";
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 24px 25px;
    text-align: center;
    text-transform: uppercase;
}

.widgets-tests {
    background-color: #fff;
}

.textwidget {
    margin: 20px 0;
}

.widget > .entry-title {
    background-color: #FFF;
}

.tagcloud {
    margin: 10px;
}

/* SIDEBAR FOOTER */
#footer-area {
    background-color: #222;
}

#footer-area img {
    padding: 20px;
}

.home .footer-inner {
    display: none;
}

.footer-inner {
    color: #FFF;
    min-height: 250px;
}

.footer-inner a {
    color: #FFF;
}

#footer-area .footer-widget-area {
    overflow: hidden;
    padding: 40px 0 20px;
}

/* FOOTER */
.home #colophon {
    position: fixed;
}

#colophon {
    background-color: #151515;
    bottom: 0;
    width: 100%;
    padding: 6px;
}

#colophon,
#colophon a {
    color: #FFF;
}

.social-network {
    margin: 0;
    text-align: center;
    padding: 0px;
}

.social-network > li {
    display: inline-block;
}

.social-network li a {
    background-color: #222222;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    list-style: outside none none;
    margin-bottom: 0px;
    margin-right: 5px;
    text-align: center;
    transition: background-color 0.5s ease 0s;
    width: 40px;
    color: #FFF;
}

.social-network li a:hover {
    color: #FFF!important;
}

.social-network li a.tw:hover {
    background-color: #00aced;
}

.social-network li a.fb:hover {
    background-color: #3b5998;
}

.social-network li a.gp:hover {
    background-color: #dd4b39;
}

.social-network li a.ins:hover {
    background-color: #125688;
}

.social-network li a.gh:hover {
    background-color: #333;
}

.social-network li a.tg:hover {
    background-color: #2BA4DF;
}

.social-network li a.rss:hover {
    background-color: #ff9900;
}

.social-network li a.ccs:hover {
    background-color: #94C309;
}

.themeName,
.copyright {
    font-family: "Oswald";
    font-size: 13px;
    text-align: right;
}

.themeName {
    float: right;
    padding: 10px;
}

.copyright a {
    padding: 10px;
    float: left;
}


#backtotop {
    display: none;
    float: left;
    outline: medium none;
    padding: 10px 10px;
    transition: all .5s ease 0s;
}

#backtotop span {
    color: #FFF;
    transition: all .5s;
}

#backtotop:hover span {
    color: #1976D2;
    transition: all .5s;
}

/* 404 ERROR */
p.error404 {
    font-size: 135px;
    font-family: "Signika";
    color: #222;
}

.error404 .page-title {
    margin-bottom: 0;
}

.h3error {
    text-transform: uppercase;
    font-family: "Oswald";
}

.h4error {
    font-family: "Signika", "Open Sans", sans-serif;
}

.error-content {
    padding: 25px 25px;
}

/* COOKIES */
.cookies {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1976D2;
}

.cookies p {
    color: #FFF;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.home .cookies {
    bottom: 0;
    height: 80px;
    margin-bottom: 54px;
    position: fixed;
    right: 0;
    width: 80px;
    border-left: 40px solid transparent;
    border-top: 40px solid transparent;
    border-right: 40px solid #1976D2;
    border-bottom: 40px solid #1976D2;
    background-color: transparent;
}

.cookies span {
    color: #fff;
    padding: 8px;
}

.single .cookies {
    margin-bottom: 0px;
}

.oculto {
    display: none;
}

/* OTHERS */
#pseudomenu {
    height: 50px;
}

#box_animate {
    background-color: #151515;
    display: none;
    padding: 70px;
    position: fixed;
    right: 0;
    top: 50px;
    width: 100%;
    z-index: 1000;
    height: 200px;º
}

#box_animate .form-control {
    background: transparent;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    font-size: 40px;
    height: 60px;
    color: #1976d2;
}

#box_animate .btn {
    border-radius: 0px;
    border: none;
    padding: 12px;
}

#box_animate .glyphicon {
    font-size: 32px;
    color: #FFF;
}

.btn-primary:hover{
    background-color: #222;
}

.cuboblog {
    font-size: 30px;
    max-height: 100px;
    min-height: 90px;
    padding: 34px;
    text-align: center;
    text-transform: uppercase;
}

#searchform {
    margin: 0 auto;
    width: 60%;
}

blockquote.twitter-tweet {
    background-color: #0074a2;
    font-weight: bold;
    padding-top: 30px;
    border: none;
}

blockquote.twitter-tweet p,
blockquote.twitter-tweet a {
    color: #FFF;
}

blockquote.twitter-tweet:before{
    background: #222 none repeat scroll 0 0;
    color: #FFF;
    content: "Tweet";
    font-size: 12px;
    margin-right: 25px;
    margin-top: -30px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
}

.home .christmas {
    bottom: 52px;
}

.christmas {
    bottom: -5px;
    left: 2px;
    position: fixed;
}

.collaborate {
    background: #1976d2 none repeat scroll 0 0;
    border-left: 5px solid #151515;
    border-radius: 0;
    bottom: 40px;
    position: fixed;
    right: -350px;
    width: 350px;
    z-index: 999;
}

.collaborate .close {
    right: -30px;
    top: -14px;
}

.btn-collaborate {
    border-radius: 0;
    width: 100%;
}

.collaborate p {
    color: #FFF;
    font-weight: bold;
    width: 75%;
}

/* OTHERS: Trending Articles */
.trending-articles {
    background: #222 none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 100%;
    z-index: 100;
}

.trending-articles ul {
    list-style: outside none none;
}


.trending-articles li.firstlink {
    border: medium none;
    color: #1976d2;
}

.trending-articles li:last-child {
    border: medium none;
}

.trending-articles li {
    border-right: 1px solid #7d7d7d;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2em;
    margin: 10px 0 9px;
    padding: 0 8px;
    text-transform: uppercase;
}

.trending-articles li a {
    color: #FFF;
    display: block;
}

/*form p:last-child {
    display: none;
}*/

/* BOOTSTRAP */


/* RESPONSIVE */
@media (max-width: 1200px) {
    .edit-post {
        left: 221px;
    }
    p.error404 {
        font-size: 99px;
    }
}

@media (max-width: 1084px) {
    #secondary {
        padding: 0;
    }

    .footer-inner, .christmas,
    #colophon .copyright,
    #colophon .themeName {
        display: none;
    }
    .footer-inner {
        margin-bottom: 0px;
    }

    .home article {
        float: left;
        width: 50%;
    }

    .post_date,
    .post_categories {
        width: 50%;
        float: left;
    }

    .author-bio {
        padding: 25px;
    }

    .nextandPrevious {
        display: none;
    }

    .author-social {
        background-color: transparent;
    }
    .num-comments {
        display: none;
    }
    .edit-post {
        left: 378px;
    }
    .cookies p {
        font-size: 15px;
    }

}

@media (max-width: 990px) {
    #secondary {
        display: none;
    }
    #primary {
        float: none!important;
    }
    .edit-post {
        left: 268px;
    }
    .category .edit-post,
    .search .edit-post {
        bottom: 210px;
    }
    .error404 #colophon {
        position: fixed;
    }
    .cookies p {
        font-size: 14px;
    }
}

@media (max-width: 760px) {
	.sub-menu-columns ul.dropdown-menu {
		float: left;
		min-width: 400px;
	}
    .edit-post {
        display: none;
    }

	.sub-menu-columns ul.dropdown-menu li {
		width: 50%;
		float: none;
		min-height: 1px;
	    position: relative;
	}

    a#backtotop {
        bottom: 0px;
        left: 0px;
    }

    .edit-comment {
        top: -110px;
    }

    .trending-articles {
        display: none;
    }

    #primary > main,
    .single #primary,
    .single #secondary,
    .search #secondary,
    .author #secondary {
        margin-top: 0px;
    }
    p.error404 {
        font-size: 80px;
    }
    .cookies p {
        font-size: 12px;
    }
}

@media (max-width: 590px) {
    .home article {
        float: inherit;
        width: 100%;
    }

    p.error404 {
        font-size: 50px;
    }
    .cookies p {
        font-size: 10px;
    }
    .collaborate {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .home main {
        margin-top: 15px;
    }

    #content-full {
        margin-top: 0px;
    }

    #content {
        padding: 0;
    }

    #box_animate {
        top: inherit;
        bottom: 0;
        width: 100%;
        padding: 10px;
        height: 78px;
    }
    #searchform {
        width: 100%;
    }
    .social-network li a {
        height: 28px;
        width: 28px;
        line-height: 28px;
    }
    p.error404 {
        font-size: 35px;
    }
    .cookies {
        display: none;
    }
    .collaborate {
        bottom: 0;
    }
}

@media all and (max-width: 600px){
	#page {
		width:100%;
		height:auto;
	}
}

/* PRINT STYLE */
@media print {
body {
    background:white;
    font-size:10pt;
    margin:0 }
#sidebar { display:none }
#header { height:75px }
#content{ margin-left:0;
     float:none;
     width:auto }
.demo .red { color:black;
     font-weight:bold }
#content a { font-weight:bold;
     color:#000066;
     text-decoration:underline }
#content{ margin-left:0;
     float:none;
     width:auto }
#footer, .ad { display:none }
h1, h2, h3, h4, h5, h6 { page-break-after:avoid;
     page-break-inside:avoid }
h3 { margin-left:10px;
     margin-bottom:0px;
     padding-bottom:0px }
blockquote, table, pre { page-break-inside:avoid }
ul, ol, dl  { page-break-before:avoid }
img { display: none;}
.right { float: right; }
.left { float: left }
img { page-break-inside:avoid;
     page-break-after:avoid; }
}
